@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Orbitron&display=swap');
        
body {
    font-family: 'Didact Gothic', sans-serif;
    background-color: #122135;
    color: #fff;
}

.stadium {
    background-image: url('./src/assets/img/stadium.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50px;
}

.player-slot {
    position: relative;
    background-image: url("./src/assets/img/gold.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 190px;
    width: 150px;
    transition: transform 0.3s ease-in-out;
}

.player-slot:hover {
    transform: scale(1.5);
    z-index: 10;
    filter: drop-shadow(0 0 0.75rem rgb(20, 220, 70));
}

.player-card {
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.player-card img {
    max-width: 100px;
    max-height: 100px;
    object-fit: contain;
}